<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Department</title>
</head>
<body>
    <h2>Add Department</h2>
    <form method="POST" action="../addSuccess/">
        {% csrf_token %}
        Name：<input type="text" name="name" /><br>
        Building：<input type="text" name="building" /><br>
        Telephone：<input type="text" name="telephone" /><br>
        <button>Add</button>
    </form>
</body>
</html>