<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Campus Network System</title>
</head>
<body>
  <a href="/department" rel="external nofollow" >院系信息</a>
  <a href="/addDepartment" rel="external nofollow" >新增院系</a>
  <a href="/deleteDepartment" rel="external nofollow" >删除院系</a><br>
  <a href="/studentInfo" rel="external nofollow" >学生信息(视图)</a><br>
  <a href="/courseEnrollment" rel="external nofollow" >选课信息(分组查询)</a><br>
  <a href="/maxCreditCourse" rel="external nofollow" >查找学分最高的课程</a><br>
</body>
</html>