<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Campus Network System</title>
</head>
<body>
  <a href="/department" rel="external nofollow" >Department(add/delete)</a><br>
  <a href="/studentInfo" rel="external nofollow" >Student information(view)</a><br>
  <a href="/courseEnrollment" rel="external nofollow" >Course enrollment(group by)</a><br>
  <a href="/maxCreditCourse" rel="external nofollow" >Find max-credit course(nest query)</a><br>
  <a href="/spareClassroom" rel="external nofollow" >Find spare classroom(having clause)</a><br>
</body>
</html>