<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Campus Network System</title>
</head>
<body>
  <a href="/courseEnrollment" rel="external nofollow" >查看选课信息</a><br>
  <a href="/department" rel="external nofollow" >查看院系信息</a>
  <a href="/addDepartment" rel="external nofollow" >新增院系</a>
  <a href="/deleteDepartment" rel="external nofollow" >删除院系</a>
</body>
</html>