<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maximum Credit Course</title>
</head>


<body>
    <table style="word-break: keep-all" border="1">
        <caption><b>Maximum Credit Course</b></caption>
        <thead>
            <tr>
                <th>course#</th>
                <th>title</th>
                <th>credit</th>
                <th>department</th>
                <th>classroom#</th>
            </tr>
        </thead>
        <tbody>
        {% for maxCreditCourse in maxCreditCourses %}
            <tr>
                <td>{{maxCreditCourse.cno}}</td>
                <td>{{maxCreditCourse.title}}</td>
                <td>{{maxCreditCourse.credit}}</td>
                <td>{{maxCreditCourse.dept}}</td>
                <td>{{maxCreditCourse.room_number}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>