<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>student Information</title>
</head>


<body>
    <table style="word-break: keep-all" border="1">
        <caption><b>Student</b></caption>
        <thead>
            <tr>
                <th>stud_id</th>
                <th>name</th>
                <th>sex</th>
                <th>email</th>
                <th>password</th>
                <th>grade</th>
                <th>dept</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{student.stud_id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.sex}}</td>
                <td>{{student.email}}</td>
                <td>{{student.password}}</td>
                <td>{{student.grade}}</td>
                <td>{{student.dept}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table style="word-break: keep-all" border="1">
        <caption><b>student Information(view)</b></caption>
        <thead>
            <tr>
                <th>stud_id</th>
                <th>name</th>
                <th>sex</th>
                <th>email</th>
                <th>dept</th>
            </tr>
        </thead>
        <tbody>
        {% for studentInfo in studentInfos %}
            <tr>
                <td>{{studentInfo.stud_id}}</td>
                <td>{{studentInfo.name}}</td>
                <td>{{studentInfo.sex}}</td>
                <td>{{studentInfo.email}}</td>
                <td>{{studentInfo.dept}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>